.text-main {
    color: var(--main-color);
}
.bg-main {
    background-color: var(--main-color);
}
.text-secondary-color {
    color: var(--secondary-color);
}
.w-70 {
    width: 70%;
}
.section-padding {
    padding-block:  50px;
}
.text-medium {
    font-size: 14px;
    line-height: 20px;
}

.btn-custom {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 28px;
    border: 2px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
}
.bg-section {
    background-color: #f9f6f3;
}
.secondary-btn {
    background: var(--main-color);
    border-color: var(--main-color);
    color: var(--white-color);
}

.section-header__subHeader{
    font-size: 16px;
}
.section-header__subHeader::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--main-color);
    margin-right: 0.625rem;
}
.section-header__subHeader::after{
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--main-color);
    margin-left: 0.625rem;
}
.section-header__header{
    font-weight: 700;
    color: var(--secondary-color);
}
.border-bottom-custom{
    border-bottom: 1px solid var(--border-color);
}
.border-right-custom {
    border-right: 1px solid var(--border-color);
}


.section-header__subHeader {
    font-size: 16px;
}
.section-header__subHeader::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--main-color);
    margin-right: 0.625rem;
}
.section-header__subHeader::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--main-color);
    margin-left: 0.625rem;
}

.section-header__header {
    font-weight: 700 !important;
    color: var(--secondary-color);
} 
.bg-section {
    background-color: #f9f6f3;
}
.secondary-btn {
    background: var(--main-color);
    border-color: var(--main-color);
    color: var(--white-color);
} 
.secondary-btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
