

@media (min-width: 576px) {
    #home {
        background-image: url('../images/cover.png');
        /* background-size: cover; */
    }
    .home-images {
        width: 50%;
    }
    h1 {
        font-size: 2rem;
        line-height: 2rem;

    }
    .home-content {
         width: 40%;
        
    }
    .grid-parent {
        grid-template-areas: 
        "item1 item2"
        "item1 item3"
        "item4 item3"
        "item4 item5"
        "item6 item5"
        "item6 ."


        ;
    }

}


@media (min-width: 768px) {
    .home-content {
        width: 30%;
    }
    
}
@media (min-width:992px) {
    .navbar .main-menu {
        background-color: transparent;
        position: static;
    }

    .grid-parent {
        grid-template-areas: 
        "item1 item2 item3"
        "item1 item4 item3"
        "item5 item4 item6"
        ;
    }
}

@media (min-width: 1200px) {
    h1 {
        width: 100%;
        font-size: 4rem;
        line-height: 4rem;
    }
}
