:root{
    --main-color: #bf8c4c;
    --secondary-color: #232323;
    --white-color:#fff;
    --body-color: #828282;
    --border-color: #e4e4e4;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--body-color);
}















/* ^ START NAV */

nav img {
    width: 110px;
}

nav .nav-link, .navbar i{
    color: var(--secondary-color);
}
.navbar .main-menu{
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    left: 0;
    right: 0;
    z-index: 999;
    padding-inline: 2rem;
}
















/* * START home */
#home{
    background-image: url('../images/cover_res.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 3rem;

}
h1{
    width: 75%;
    font-weight: 700;
    letter-spacing: -1px; 
}
.home-images{
    transition: all 1s;
}
.home-images:hover{
    transform: matrix(1,0,0,1,-22,3);
}
.home-content-link::before{
    content: "";
    width: 30px;
    height: 30px;
    background: var(--main-color);
    position: absolute;
    border-radius: 15px;
    z-index: 0;
    left: -15px;
    transition: width 1s;
}
.home-content-link:hover::before{
    width: calc(100% + 30px);
}
.home-content-link i{
    transition: transform 1s;
}
.home-content-link:hover i{
    transform: translateX(30%);
}
/* &START SERVICE */
.service-item p{ 
    margin-bottom: 0;
}
.service-item i{
    font-size: 35px;
}
#service,#logos,#latest {
    border-bottom: 1px solid #e4e4e4;
}
/* ^START ABOUT */

.about-img{
    bottom: -15px;
    right: 15px;
}
.about-head >::before{
    content: "";
    width: 40px;
    height: 1px;
    margin-right: 1.25rem;
    background-color: var(--main-color);
}
.section-link{
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white-color);
    --bs-btn-hover-border-color: var(--secondary-color);
}
.section-link:hover{
    background: transparent;
    color: var(--secondary-color);
}

/* * START specialization */

.main-content a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 20px;
    right: 30px;
    transition: all 0.5s;

}
.banner-content{
    transform: translateY(calc(100% - 105px));
    transition: all 0.5s;
}
.banner-content p, .banner-content a {
    opacity: 0;
}
.specialization-item:hover .banner-content{
    transform: translateY(0px);
    background-color: var(--secondary-color);
}
.specialization-item:hover p, .specialization-item:hover a {
    opacity: 1;
}

.specialization-item:hover .main-content a {
    transform: translateY(100%);
    opacity: 0;
}























/* * START specialization */
/* .main-content a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 20px;
    right: 30px;
    transition: all 0.5s

}
.banner-content{

    transform: translateY(calc(100% - 105px));
    transition: all  0.5s;
}
.banner-content p, .banner-content a{
    opacity: 0;
    transition: opacity 0.5s;
}
.specialization-item:hover .banner-content{
    transform: translateY(0px);
    background-color: var(--secondary-color);
}
.specialization-item:hover p, .specialization-item:hover a{
    opacity: 1;
}
.specialization-item:hover .main-content a{
    transform: translateY(100%);
    opacity: 0;
} */

/* ^START PRODUCT*/
.product-item span{
    transform: translateX(20%);
    transform-origin: left center;
    transition: transform 0.3s cubic-bezier(0.2, 0.95, 0.25, 1) 0s;
    display: inline-block;
}
.product-item i{
    transform: scale(0) translateX(0);
    transition: transform 0.3s cubic-bezier(0.2, 0.95, 0.25, 1) 0s;
    transform-origin: left center;


}
.product-item:hover i{
    transform: scale(1) translateX(0);
}
.product-item:hover span{
    transform: translateX(0);
}

/* * START ideas */

#ideas .item h3{
    color: var(--secondary-color);
}

#ideas .item{
    background-repeat: no-repeat;
    background-position: right 5px bottom -25px;

}

.idea-content{
    background-image: url('../images/home-decor-img-05.png');
}
.idea-content-2{
    background-image: url('../images/home-decor-img-06.png');
}























/* * START logos */
#logos img{
    opacity: 0.6;
    transition: opacity 0.5s;
}
#logos img:hover{
    opacity: 1;
}

/* ^ START LATEST */

.grid-parent {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6"
    ;
}
.grid-parent img {
    transition: all 0.3s ease-in-out;
}
.grid-parent > div:hover img {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(1.1, 1.1);
}
.grid-parent .inner-caption {
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.grid-parent > div:hover .inner-caption {
    opacity: 1;
}
.grid-parent .item1 {
    grid-area: item1;
}
.grid-parent .item2 {
    grid-area: item2;
}
.grid-parent .item3 {
    grid-area: item3;
}
.grid-parent .item4 {
    grid-area: item4;
}
.grid-parent .item5 {
    grid-area: item5;
}
.grid-parent .item6 {
    grid-area: item6;
}

.view-products {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 0.8rem 2rem;
}

/* & START TYPES */
.types-item i{
    font-size: 1.8rem;
}
.types-item{
    background-size: cover;
}
#types .item1{
    background-image: url(../images/home-decor-img-18.jpg);
}
#types .item2{
    background-image: url(../images/home-decor-img-17.jpg);
}
#types .item3{
    background-image: url(../images/home-decor-img-19.jpg);
}
#types .item4{
    background-image: url(../images/home-decor-img-20.jpg);
}
#types .types-inner{
    background-color: var(--white-color);
    transition: background-color 0.5s;
}
#types .types-item:hover .types-inner{
    background-color: transparent;
}
#types .types-item:hover .types-inner *{
    color: var(--white-color);
}


/* * START home-decor */
#home-decor .card-header {
    font-size: 14px;
}
#home-decor .card-header span {
    transition: all 0.5s;
}
#home-decor .card-header span:hover {
    color: var(--main-color);
}
#home-decor .header-icon {
    color: red;
    transition: all 0.5s;
}

#home-decor .header-icon:hover {
    color: var(--main-color);
}

#home-decor .img-container a {
    background-color: var(--white-color);
    color: var(--main-color);
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
}
#home-decor .img-container a:hover {
    color: var(--secondary-color);
}
#home-decor .img-container img {
    transition: transform 1s;
}
#home-decor .img-container:hover img {
    transform: scale(1.1);
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.carousel-indicators .active {
    background-color: var(--main-color);
}

/* * START footer */

#footer a{
    color: var(--body-color);
}

#footer a:hover{
    color: var(--main-color);
}
.top-footer{
    border-bottom: 1px solid rgba(255, 255,255, .1);
}
.bottom-footer img{
    max-height: 60px;
    width: 120px;
}
.bottom-footer{
    padding-block: 2.5rem;
}






